@import "../../index.scss";
main {
    min-height: 80.6vh;
    .important-view {
        max-width: 1450px;
        padding: 0 30px;
        padding-top: 20px !important;
        @media only screen and (min-width: $small-screen-up) {
            display: flex;
            flex-wrap: wrap;
            padding: 0 64px;
        }
    }
}